/* 시작화면 전체 컨테이너 */
.start-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    background: linear-gradient(140deg, #8090a4 40%, transparent 0%),
                linear-gradient(190deg, #3b4755 50%, transparent 0%),
                #6d8191;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.start-container * {
    font-family: Arial, Helvetica, sans-serif;
}

.start-container h1 {
    font-family: 'VITRO';
    font-size: 45px;
    font-weight: 900;
    color: #F1F0E8;
    -webkit-text-stroke: 2px #11324D;
    z-index: 3000;
    margin: 0;

    @media (min-width: 1400px) or (min-height: 700px) {
        font-size: 2.5rem;
    }
}

/* 창을 포함하는 컨테이너 */
.start-subcontainer {
    width: 100%;
    height: auto;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (min-height: 700px) {
        margin: 60px;
    }
    @media (min-height: 800px) {
        margin: 70px;
    }
    @media (min-height: 900px) {
        margin: 80px;
    }
}

/* 창 스타일 */
.window {
    width: 380px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    background-color: #8d9fb5;
    border: 2px solid #11324D;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 3000;
    transition: transform 0.3s ease-in-out;

    @media (min-width: 1400px) {
        width: 430px;
    }
    @media (min-width: 1600px) {
        width: 460px;
    }

    @media (min-height: 700px) {
        height: 350px;
    }
    @media (min-height: 800px) {
        height: 400px;
    }
    @media (min-height: 900px) {
        height: 450px;
    }

}

.window:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.window-bar {
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 15px;
}

.window-bar p {
    color: #11324D;
    font-size: 19px;
}


/* 창 위치 설정 */
.window.left {
    position: absolute;
    top: calc(50% + 35px);
    left: calc(50% - 80px);
    transform: translate(-50%, -50%);
    z-index: 5000;
}

.window.right {
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% + 80px);
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.start-subcontainer:hover .window.left{
    transform: translate(calc(-50% - 310px), calc(-50% - 55px));

    @media (min-width: 1400px) {
        transform: translate(calc(-50% - 360px), calc(-50% - 55px));
    }

    @media (min-width: 1600px) {
        transform: translate(calc(-50% - 390px), calc(-50% - 55px));
    }
}

.start-subcontainer:hover .window.middle{
    transform: translateY(-20px);
}

.start-subcontainer:hover .window.right{
    transform: translate(calc(-50% + 310px), calc(-50% + 15px));

    @media (min-width: 1400px) {
        transform: translate(calc(-50% + 360px), calc(-50% + 15px));
    }

    @media (min-width: 1600px) {
        transform: translate(calc(-50% + 390px), calc(-50% + 15px));
    }

}

/* 왼쪽 창 */
.window-left {
    width: 100%;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #11324D;
    background-color: #F7F6F2;
    border-radius: 10px;
}

.input-box {
    width: 90%;
    height: 30px;
    display: flex;
    margin: 6px;
    justify-content: space-between;

    @media (min-height: 700px) {
        height: 33px;
        margin: 8px;
    }
}

.input-box div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #11324D;
    border-radius: 40px 60px / 60px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-box div p {
    color: #11324D;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: 'VITRO';
}

.input-box input {
    height: 100%;
    background-color: white;
    border: 1.5px solid #11324D;
    border-radius: 60px 30px / 20px 40px;
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.input-box input:hover {
    transform: scale(1.05);
}

.promo-text {
    width: 90%;
    height: 35px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    transition: box-shadow 0.3s;
}

.promo-text p {
    padding: 5px 15px;
    border-radius: 80px 60px / 90px 60px;
    font-weight: 700;
    border: 1.5px solid #11324D;
    background-color: #7E94BF;
    color: #11324D;
    transition: box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 가운데 창 */
.window-middle {
    width: 100%;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-top: 2px solid #11324D;
    background-color: #F7F6F2;
    border-radius: 10px;
    padding: 10px;
}

.window-middle h3 {
    font-size: 18px;
    color: #11324D;
    margin: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'VITRO';

    @media (min-width: 1400px) or (min-height: 700px) {
        font-size: 21px;
    }
}

.window-middle ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;

    @media (min-height: 700px) {
        margin: 15px 0;
    }
    @media (min-height: 800px) {
        margin: 20px 0;
    }
}

.window-middle li {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    letter-spacing: 0.2px;
    position: relative;
    font-weight: 400;
    word-break: keep-all;

    @media (min-width: 1400px) {
        font-size: 15px;
    }
    
    @media (min-height: 700px) {
        line-height: 1.7;
    }
}

.window-middle .highlight {
    font-weight: bold;
    color: #D9534F;
    background-color: #F9F2F4;
    border-radius: 4px;
}

/* 오른쪽 창 */
.window-right {
    width: 100%;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #11324D;
    background-color: #F7F6F2;
    border-radius: 10px;
    padding: 20px;
}

.window-right div {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 20px;
}

.window-right p {
    display: inline-block;
    width: auto;
    height: 100%;
    background-color: #1A2130;
    color: white;
    padding: 10px 15px;
    border-radius: 15px 15px 15px 0;
}

.window-right h3 {
    margin: 0;
}

.window-right h3 span{
    font-size: 1.5rem;
    color: #D9534F;
    margin: 0 10px;
}

/* 게임 시작 버튼 컨테이너 */
.start-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3000;
    width: 100%;
}

.start-button-container label {
    font-family: 'VITRO';
    font-size: 16px;
    font-weight: 700;
    color: #F1F0E8;
    margin-bottom: 3px;

    @media (min-width: 1400px) or (min-height: 700px) {
        font-size: 1rem;
    }
}

.start-button-container div {
    width: 80px;
    height: 60px;
    border: none;
    cursor: pointer;
    background-image: url('../../public/image/enter.png');
    transition: transform 0.3s;
    background-size: 100% 100%;
    background-position: center, center;

    @media (min-width: 1400px) {
        width: 100px;
    }
    
    @media (min-height: 700px) {
        height: 80px;
    }
    @media (min-height: 800px) {
        height: 90px;
    }
}

.start-button-container div:hover {
    transform: scale(1.1);
}
